@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Anton", "sans-serif";
}


/* NAVBAR STYLING START */

.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-round {
  height: 50px;
  width: 80%;
  border-radius: 50px;
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  /* semi-transparent */
  backdrop-filter: blur(10px);
  /* blur background behind it */
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */


  /* soft border */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  /* smooth shadow */

}

.nav-round a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.link:hover {
  transform: scale(2);
  transition: ease;

}

.nav-round button {
  background-color: black;
  color: white;
  font-size: large;
  border: none;
  padding: 5px 40px;
  border-radius: 50px;
  box-shadow: 2px 2px white;
}

.nav-round button:active {
  transform: scale(0.8);
  transition: 1s ease;
}


/* Hero Section Start  */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("/background/1.png");
  background-size: cover;
  background-position: center center;
  /* parent conatiner of counter */
  position: relative;

}

/* DAYS COUNTER */
.counter {
  position: absolute;
  background-color: white;
  bottom: 30px;
  right: 100px;
  width: 50%;
  height: 200px;
  transition: transform 0.4s ease;
  transform: rotateY(-25deg) rotateX(12deg);
  transform-style: preserve-3d;
  display: flex;
  gap: 25px;
  justify-content: center;
  box-shadow: 20px 20px black;
  border: solid 1px black;

}

.flip-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.digit {
  position: relative;
  width: 90px;
  height: 110px;
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-align: center;
  line-height: 110px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: solid 1px black;

  overflow: hidden;
  perspective: 1000px;
}

.logo {
  width: 200px;
}


/* ABOT SECTION  */

.about {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;

}

.good {
  height: 100px;
  display: flex;
  align-items: last baseline;
  border-bottom: solid 6px red;
}

.about-header {
  padding: 10px 50px;
  width: 200px;
  background-color: red;
  border: solid 1px black;
  backdrop-filter: blur(10px);
  margin-left: auto;
  color: white;
  box-shadow: -10px -10px white;

}

/* complemet of above divider */
.good-c {
  height: 100px;
  display: flex;
  align-items: last baseline;
  border-bottom: solid 6px rgb(0, 0, 0);
}

.about-header-c {
  padding: 10px 50px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  margin-left: auto;
  color: rgb(0, 0, 0);
  box-shadow: -10px -10px rgb(0, 0, 0);

}

.cont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;

}

.about img {
  margin: none;
  width: 480px;
  box-shadow: -10px 10px rgb(255, 255, 255);

}


.a {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.a img:hover {
  box-shadow: -10px 10px rgb(255, 0, 0);
}


.b {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  justify-content: center;
  background-color: white;
  border: solid 1px black;
  box-shadow: -10px 10px white;
}

.b h3 {
  font-size: 32px;
  font-size: 100;
}

.b p {
  font-size: 16px;
}

.b:hover {
  box-shadow: -10px 10px rgb(255, 0, 0);
}



.detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 230px;
}

.box {
  width: 120px;
  height: 120px;
  background-color: white;
  box-shadow: -10px 10px red;
  color: black;
  text-align: center;
  border: solid 1px black;
}

.box:hover {
  background-color: red;
  box-shadow: -10px 10px rgb(255, 255, 255);
  color: white;
  transition: ease-in;
  transform: rotateX(10deg) rotateY(-30deg);
}

.box p {
  margin-top: 10px;
}

.billu {
  font-size: 32px;
}

.anim {
  animation: float 2s ease-in-out infinite;
  ;
  will-change: transform;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.anim-d {
  animation: floatd 2s ease-in-out infinite;
  ;
  will-change: transform;
}

@keyframes floatd {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}


/* COLLEGE PICS-HOMEPAGE */

.clg {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.767);
}

.wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  max-height: 400px;

}

.imagediv {
  height: 300px;
  width: 250px;
  background-color: aliceblue;
  box-shadow: -10px 10px black;
  border: solid 5px white;
}

.imagediv img {
  width: 250px;
  height: 300px;
}


/* LINK BUTTONS */

.last {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
}

#lasta,
#lastb {
  height: 90px;
  border: solid 1px black;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lasta {
  background-color: black;
  box-shadow: -10px 10px white;
  color: white;

}

#lasta:hover,
#lastb:hover {
  transform: scale(0.8);
}

#lastb {
  background-color: rgb(255, 255, 255);
  box-shadow: -10px 10px rgb(0, 0, 0);
  color: black;
}